.post {
    background: var(--gray-800);
    border-radius: 8px;
    padding: 2.5rem;

    &__content {
        line-height: 1.6;
        color: var(--gray-300);
        margin-top: 1.5rem;

        p {
            margin-top: 1rem;
        }

        a {
            font-weight: bold;
            color: var(--green-500);
            text-decoration: none;

            &:hover {
                color: var(--green-300);
            }

        }

    }

    &__author {
        display: flex;
        align-items: center;
        gap: 1rem;


        &__avatar {
            width: calc(3rem + 12px);
            height: calc(3rem + 12px);
            border-radius: 8px;
            border: 4px solid var(--gray-800);
            outline: 2px solid var(--green-500);
        }


        &__info {
            display: flex;
            flex-direction: column;

            strong {
                display: block;
                color: var(--gray-100);
                line-height: 1.6;
            }

            span {
                display: block;
                font-size: 0.875rem;
                color: var(--gray-400);
                line-height: 1.6;
            }
        }
    }

    &>header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        time {
            font-size: 0.875rem;
            color: var(--gray-400);
        }
    }
}

.post+.post {
    margin-top: 2rem;
}

.commentForm {
    width: 100%;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    border-top: 1px solid var(--gray-600);

    transition: max-heigth 0.1s ease-out;

    &>strong {
        line-height: 1.6;
        color: var(--gray-100);
    }

    textarea {
        width: 100%;
        background: var(--gray-900);
        border: 0;
        resize: none;
        height: 6rem;
        padding: 1rem;
        border-radius: 8px;
        color: var(--gray-100);
        line-height: 1.4;
        margin-top: 1rem;

        &:focus {
            border: 1px solid var(--gray-300);
        }
    }

    &__footer {

        visibility: hidden;
        max-height: 0;

        button {
            background-color: var(--green-500);
            color: var(--white);
            border-radius: 8px;
            padding: 1rem 1.5rem;
            margin-top: 1rem;
            transition: background-color 0.1s;
            font-weight: bold;
            cursor: pointer;
            &:hover {
                background-color: var(--green-300);
            }
        }
    }

    &:focus-within{
        footer{
            visibility: visible;
            max-height: none;
        }
    }

}